#baseURL: https://heroic-eclair-5b2c54.netlify.app
baseURL: https://lothardware.pages.dev
languageCode: en-us
title: LOTHardware
#theme: ../../
theme: hugo-index
pygmentsUseClasses: true
#enableInlineShortcodes: true
Copyright: 2023 | enesilhaydin

markup:
  highlight:
    codeFences: true
    guessSyntax: true
    lineNos: false
  goldmark:
    renderer:
      unsafe: true

params:
  # showDescriptioninHome: true
  # hideAllTagsinHome: true
  # searchBoxPlaceholder: "Type here to search..."
  titleIcon: logo.svg
  headers:
    key: Device
    value: Tags
    # value: Description

permalinks:
  tags: "@:slug"

taxonomies:
  tag: "tags"

outputs:
  home:
    - HTML
    - RSS
    - JSON # for search

privacy:
  vimeo:
    disabled: false
    simple: true
  twitter:
    disabled: false
    enableDNT: true
    simple: true
  instagram:
    disabled: false
    simple: true
  youtube:
    disabled: false
    privacyEnhanced: true

services:
  instagram:
    disableInlineCSS: true
  twitter:
    disableInlineCSS: true
