{{- $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) -}}
{{- $desc := or .Description site.Params.description -}}
{{- $ogimg := absURL (or site.Params.ogImage "index.png") -}}
<link rel="canonical" href="{{ .Permalink }}">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#0e0f12" media="(prefers-color-scheme: dark)">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:type" content="{{ cond .IsPage "article" "website" }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $ogimg }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">
<meta name="twitter:image" content="{{ $ogimg }}">
